.glass{
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 20px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply border-4 border-gray-50 shrink-0 w-[30%] rounded-3xl py-10 px-7 min-w-max;
}

.profile_img{
    @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
    @apply hover:border-gray-200;
}

.textbox{
    @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-sm text-lg;
    @apply focus:outline-none;
}

.btn{
    @apply border bg-indigo-500 w-3/4 py-4 rounded-lg text-gray-50 shadow-lg text-center;
    @apply focus:shadow-2xl
}

.btn:hover{
    background-color: #ff6a6a;
}

input[type="file"]{
    display: none;
}

.valid_textbox{
    @apply border border-green-500 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-green-500
}

.invalid_textbox{
    @apply border border-red-500 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-red-500
}
.valid{
    color: limegreen;
}
.invalid{
    color: red;
}
.hide{
    display: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}